.container{
   display: flex;
   justify-content: space-between;
   padding: 10px 5px;
}
div.header{
   gap: 10px;
   padding: 10px 5px;
   align-items: center;
}
div.whatsappbtn{
   position: fixed;
   right: 10px;
   bottom: 20px;
   padding: 10px;
   border-radius: 10px;
   z-index: 1000;
  
   background-color: #000;
}
div.whatsappbtn a{
   text-decoration: none;
   color: #ecf4e3;
}