header{
    width: 100%;
    justify-content: space-between;

}
header.navigation{
    width: 100%;
    padding: 10px 14px;
}
.navigation a{
    text-decoration: none;
    padding: 10px 14px;
    justify-content: space-between;
}